--
-- PostgreSQL database dump
--

\restrict oq69AsU63tWQoxlITXKfpKXW72caJPeRie2Gr3s0s5BFrGBXjwBP6gbdp6oMMty

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: blocked_dates; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.blocked_dates (
    id uuid NOT NULL,
    location_id uuid NOT NULL,
    blocked_date date NOT NULL,
    reason character varying(255),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.blocked_dates OWNER TO sail;

--
-- Name: booking_items; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.booking_items (
    id uuid NOT NULL,
    booking_id uuid NOT NULL,
    service_id uuid,
    service_name character varying(255) NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    total_price numeric(10,2) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.booking_items OWNER TO sail;

--
-- Name: bookings; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.bookings (
    id uuid NOT NULL,
    tenant_id uuid NOT NULL,
    location_id uuid,
    reference_number character varying(20) NOT NULL,
    customer_name character varying(255) NOT NULL,
    customer_email character varying(255) NOT NULL,
    customer_phone character varying(50) NOT NULL,
    customer_type character varying(20) DEFAULT 'residential'::character varying NOT NULL,
    address text NOT NULL,
    address_unit character varying(50),
    city character varying(100),
    state character varying(50),
    zip character varying(20),
    scheduled_date date NOT NULL,
    scheduled_time_start time(0) without time zone NOT NULL,
    scheduled_time_end time(0) without time zone NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    discount_amount numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    total numeric(10,2) NOT NULL,
    promo_code_id uuid,
    promo_code_used character varying(50),
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    message text,
    preferred_contact_time character varying(50),
    source character varying(50),
    utm_source character varying(100),
    utm_medium character varying(100),
    utm_campaign character varying(100),
    ga_client_id character varying(100),
    google_event_id character varying(255),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    project_id uuid NOT NULL,
    gclid character varying(255),
    gbraid character varying(255),
    wbraid character varying(255)
);


ALTER TABLE public.bookings OWNER TO sail;

--
-- Name: cache; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.cache (
    key character varying(255) NOT NULL,
    value text NOT NULL,
    expiration integer NOT NULL
);


ALTER TABLE public.cache OWNER TO sail;

--
-- Name: cache_locks; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.cache_locks (
    key character varying(255) NOT NULL,
    owner character varying(255) NOT NULL,
    expiration integer NOT NULL
);


ALTER TABLE public.cache_locks OWNER TO sail;

--
-- Name: failed_jobs; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.failed_jobs (
    id bigint NOT NULL,
    uuid character varying(255) NOT NULL,
    connection text NOT NULL,
    queue text NOT NULL,
    payload text NOT NULL,
    exception text NOT NULL,
    failed_at timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.failed_jobs OWNER TO sail;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.failed_jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.failed_jobs_id_seq OWNER TO sail;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.failed_jobs_id_seq OWNED BY public.failed_jobs.id;


--
-- Name: global_categories; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.global_categories (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    slug character varying(100) NOT NULL,
    description text,
    icon_url character varying(500),
    sort_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.global_categories OWNER TO sail;

--
-- Name: global_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.global_categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.global_categories_id_seq OWNER TO sail;

--
-- Name: global_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.global_categories_id_seq OWNED BY public.global_categories.id;


--
-- Name: global_services; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.global_services (
    id bigint NOT NULL,
    global_category_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    default_price numeric(10,2) NOT NULL,
    price_type character varying(20) DEFAULT 'fixed'::character varying NOT NULL,
    price_unit character varying(50),
    image_url character varying(500),
    min_quantity integer DEFAULT 1 NOT NULL,
    max_quantity integer DEFAULT 10 NOT NULL,
    duration_minutes integer DEFAULT 60 NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.global_services OWNER TO sail;

--
-- Name: global_services_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.global_services_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.global_services_id_seq OWNER TO sail;

--
-- Name: global_services_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.global_services_id_seq OWNED BY public.global_services.id;


--
-- Name: job_batches; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.job_batches (
    id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    total_jobs integer NOT NULL,
    pending_jobs integer NOT NULL,
    failed_jobs integer NOT NULL,
    failed_job_ids text NOT NULL,
    options text,
    cancelled_at integer,
    created_at integer NOT NULL,
    finished_at integer
);


ALTER TABLE public.job_batches OWNER TO sail;

--
-- Name: jobs; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.jobs (
    id bigint NOT NULL,
    queue character varying(255) NOT NULL,
    payload text NOT NULL,
    attempts smallint NOT NULL,
    reserved_at integer,
    available_at integer NOT NULL,
    created_at integer NOT NULL
);


ALTER TABLE public.jobs OWNER TO sail;

--
-- Name: jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.jobs_id_seq OWNER TO sail;

--
-- Name: jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.jobs_id_seq OWNED BY public.jobs.id;


--
-- Name: locations; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.locations (
    id uuid NOT NULL,
    tenant_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    address text,
    city character varying(100),
    state character varying(50),
    zip character varying(20),
    country character varying(2) DEFAULT 'US'::character varying NOT NULL,
    google_calendar_id character varying(255),
    google_refresh_token text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    project_id uuid NOT NULL,
    max_concurrent_bookings integer DEFAULT 1 NOT NULL
);


ALTER TABLE public.locations OWNER TO sail;

--
-- Name: migrations; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO sail;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.migrations_id_seq OWNER TO sail;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.password_reset_tokens (
    email character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    created_at timestamp(0) without time zone
);


ALTER TABLE public.password_reset_tokens OWNER TO sail;

--
-- Name: personal_access_tokens; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.personal_access_tokens (
    id bigint NOT NULL,
    tokenable_type character varying(255) NOT NULL,
    tokenable_id bigint NOT NULL,
    name text NOT NULL,
    token character varying(64) NOT NULL,
    abilities text,
    last_used_at timestamp(0) without time zone,
    expires_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.personal_access_tokens OWNER TO sail;

--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.personal_access_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.personal_access_tokens_id_seq OWNER TO sail;

--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.personal_access_tokens_id_seq OWNED BY public.personal_access_tokens.id;


--
-- Name: project_categories; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.project_categories (
    id bigint NOT NULL,
    project_id uuid NOT NULL,
    global_category_id bigint NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.project_categories OWNER TO sail;

--
-- Name: project_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.project_categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.project_categories_id_seq OWNER TO sail;

--
-- Name: project_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.project_categories_id_seq OWNED BY public.project_categories.id;


--
-- Name: project_services; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.project_services (
    id bigint NOT NULL,
    project_id uuid NOT NULL,
    global_service_id bigint NOT NULL,
    custom_price numeric(10,2),
    custom_image character varying(500),
    sort_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.project_services OWNER TO sail;

--
-- Name: project_services_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.project_services_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.project_services_id_seq OWNER TO sail;

--
-- Name: project_services_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.project_services_id_seq OWNED BY public.project_services.id;


--
-- Name: projects; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.projects (
    id uuid NOT NULL,
    tenant_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    slug character varying(100) NOT NULL,
    timezone character varying(50) DEFAULT 'America/New_York'::character varying NOT NULL,
    currency character varying(3) DEFAULT 'USD'::character varying NOT NULL,
    min_booking_amount numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    booking_buffer_minutes integer DEFAULT 30 NOT NULL,
    advance_booking_days integer DEFAULT 30 NOT NULL,
    logo_url character varying(500),
    primary_color character varying(7) DEFAULT '#10B981'::character varying NOT NULL,
    secondary_color character varying(7) DEFAULT '#064E3B'::character varying NOT NULL,
    notify_customer_new_booking boolean DEFAULT true NOT NULL,
    notify_customer_status_change boolean DEFAULT true NOT NULL,
    notify_business_new_booking boolean DEFAULT true NOT NULL,
    notification_email character varying(255),
    notification_phone character varying(50),
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    min_advance_hours integer DEFAULT 24 NOT NULL
);


ALTER TABLE public.projects OWNER TO sail;

--
-- Name: promo_codes; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.promo_codes (
    id uuid NOT NULL,
    tenant_id uuid NOT NULL,
    code character varying(50) NOT NULL,
    description character varying(255),
    discount_type character varying(20) NOT NULL,
    discount_value numeric(10,2) NOT NULL,
    max_uses integer,
    current_uses integer DEFAULT 0 NOT NULL,
    min_order_amount numeric(10,2),
    starts_at timestamp(0) without time zone,
    expires_at timestamp(0) without time zone,
    applicable_services jsonb,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    project_id uuid NOT NULL
);


ALTER TABLE public.promo_codes OWNER TO sail;

--
-- Name: service_categories; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.service_categories (
    id uuid NOT NULL,
    tenant_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    sort_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    project_id uuid NOT NULL
);


ALTER TABLE public.service_categories OWNER TO sail;

--
-- Name: services; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.services (
    id uuid NOT NULL,
    tenant_id uuid NOT NULL,
    category_id uuid,
    name character varying(255) NOT NULL,
    description text,
    price numeric(10,2) NOT NULL,
    price_type character varying(20) DEFAULT 'fixed'::character varying NOT NULL,
    price_unit character varying(50),
    image_url character varying(500),
    sort_order integer DEFAULT 0 NOT NULL,
    min_quantity integer DEFAULT 1 NOT NULL,
    max_quantity integer DEFAULT 10 NOT NULL,
    duration_minutes integer DEFAULT 60 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    project_id uuid NOT NULL
);


ALTER TABLE public.services OWNER TO sail;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.sessions (
    id character varying(255) NOT NULL,
    user_id bigint,
    ip_address character varying(45),
    user_agent text,
    payload text NOT NULL,
    last_activity integer NOT NULL
);


ALTER TABLE public.sessions OWNER TO sail;

--
-- Name: tenants; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.tenants (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(50),
    plan character varying(20) DEFAULT 'starter'::character varying NOT NULL,
    stripe_customer_id character varying(255),
    subscription_ends_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    subscription_status character varying(20) DEFAULT 'trial'::character varying NOT NULL,
    trial_ends_at timestamp(0) without time zone,
    notification_days_before integer DEFAULT 3 NOT NULL,
    last_notified_at timestamp(0) without time zone
);


ALTER TABLE public.tenants OWNER TO sail;

--
-- Name: time_slots; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.time_slots (
    id uuid NOT NULL,
    location_id uuid NOT NULL,
    day_of_week integer NOT NULL,
    start_time time(0) without time zone NOT NULL,
    end_time time(0) without time zone NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.time_slots OWNER TO sail;

--
-- Name: users; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    email_verified_at timestamp(0) without time zone,
    password character varying(255) NOT NULL,
    remember_token character varying(100),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    tenant_id uuid,
    is_super_admin boolean DEFAULT false NOT NULL
);


ALTER TABLE public.users OWNER TO sail;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO sail;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: webhook_endpoints; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.webhook_endpoints (
    id uuid NOT NULL,
    tenant_id uuid NOT NULL,
    url character varying(500) NOT NULL,
    secret character varying(255),
    events jsonb DEFAULT '["booking.created"]'::jsonb NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    last_triggered_at timestamp(0) without time zone,
    last_status_code integer,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    project_id uuid NOT NULL
);


ALTER TABLE public.webhook_endpoints OWNER TO sail;

--
-- Name: webhook_logs; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.webhook_logs (
    id uuid NOT NULL,
    webhook_endpoint_id uuid NOT NULL,
    booking_id uuid,
    event_type character varying(50) NOT NULL,
    payload jsonb NOT NULL,
    response_status integer,
    response_body text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.webhook_logs OWNER TO sail;

--
-- Name: failed_jobs id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.failed_jobs ALTER COLUMN id SET DEFAULT nextval('public.failed_jobs_id_seq'::regclass);


--
-- Name: global_categories id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.global_categories ALTER COLUMN id SET DEFAULT nextval('public.global_categories_id_seq'::regclass);


--
-- Name: global_services id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.global_services ALTER COLUMN id SET DEFAULT nextval('public.global_services_id_seq'::regclass);


--
-- Name: jobs id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.jobs ALTER COLUMN id SET DEFAULT nextval('public.jobs_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: personal_access_tokens id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.personal_access_tokens ALTER COLUMN id SET DEFAULT nextval('public.personal_access_tokens_id_seq'::regclass);


--
-- Name: project_categories id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.project_categories ALTER COLUMN id SET DEFAULT nextval('public.project_categories_id_seq'::regclass);


--
-- Name: project_services id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.project_services ALTER COLUMN id SET DEFAULT nextval('public.project_services_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: blocked_dates; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.blocked_dates (id, location_id, blocked_date, reason, created_at, updated_at) FROM stdin;
019c4df1-d247-73e6-a122-efa1831d5f43	019c04b8-6dc1-71ec-a607-9fe4b14d40e7	2026-02-16	Technical day	2026-02-11 18:23:39	2026-02-11 18:23:39
019c5293-470a-7218-a15a-171db3ff98bf	019c5293-46c8-7074-9d7c-abed8347f864	2026-02-16	Technical day	2026-02-12 15:58:29	2026-02-12 15:58:29
\.


--
-- Data for Name: booking_items; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: bookings; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: cache; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.cache (key, value, expiration) FROM stdin;
laravel-cache-livewire-rate-limiter:28747f74d13696cf78306a216aa0c7ec2c9fc0a4:timer	i:1771497205;	1771497205
laravel-cache-livewire-rate-limiter:28747f74d13696cf78306a216aa0c7ec2c9fc0a4	i:1;	1771497205
laravel-cache-77de68daecd823babbb58edb1c8e14d7106e83bb:timer	i:1771499404;	1771499404
laravel-cache-77de68daecd823babbb58edb1c8e14d7106e83bb	i:1;	1771499404
\.


--
-- Data for Name: cache_locks; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.cache_locks (key, owner, expiration) FROM stdin;
\.


--
-- Data for Name: failed_jobs; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.failed_jobs (id, uuid, connection, queue, payload, exception, failed_at) FROM stdin;
\.


--
-- Data for Name: global_categories; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: global_services; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: job_batches; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.job_batches (id, name, total_jobs, pending_jobs, failed_jobs, failed_job_ids, options, cancelled_at, created_at, finished_at) FROM stdin;
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.jobs (id, queue, payload, attempts, reserved_at, available_at, created_at) FROM stdin;
\.


--
-- Data for Name: locations; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.password_reset_tokens (email, token, created_at) FROM stdin;
\.


--
-- Data for Name: personal_access_tokens; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: project_categories; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.project_categories (id, project_id, global_category_id, sort_order, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: project_services; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.project_services (id, project_id, global_service_id, custom_price, custom_image, sort_order, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: promo_codes; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: service_categories; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.service_categories (id, tenant_id, name, description, sort_order, is_active, created_at, updated_at, project_id) FROM stdin;
019c5293-46aa-715e-bae5-7536b405c84e	019c04b8-015e-70cb-8c2f-29be2bc16ea0	Upholstery Cleaning	Professional steam cleaning for furniture	0	t	2026-02-12 15:58:29	2026-02-12 15:58:29	019c5293-466f-7052-bbbc-e777d4682020
\.


--
-- Data for Name: services; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: tenants; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: time_slots; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: webhook_endpoints; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: webhook_logs; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Name: failed_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.failed_jobs_id_seq', 1, false);


--
-- Name: global_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.global_categories_id_seq', 13, true);


--
-- Name: global_services_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.global_services_id_seq', 52, true);


--
-- Name: jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.jobs_id_seq', 1, false);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.migrations_id_seq', 29, true);


--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.personal_access_tokens_id_seq', 4, true);


--
-- Name: project_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.project_categories_id_seq', 1, false);


--
-- Name: project_services_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.project_services_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: blocked_dates blocked_dates_location_id_blocked_date_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.blocked_dates
    ADD CONSTRAINT blocked_dates_location_id_blocked_date_unique UNIQUE (location_id, blocked_date);


--
-- Name: blocked_dates blocked_dates_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.blocked_dates
    ADD CONSTRAINT blocked_dates_pkey PRIMARY KEY (id);


--
-- Name: booking_items booking_items_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.booking_items
    ADD CONSTRAINT booking_items_pkey PRIMARY KEY (id);


--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (id);


--
-- Name: bookings bookings_reference_number_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_reference_number_unique UNIQUE (reference_number);


--
-- Name: cache_locks cache_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.cache_locks
    ADD CONSTRAINT cache_locks_pkey PRIMARY KEY (key);


--
-- Name: cache cache_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.cache
    ADD CONSTRAINT cache_pkey PRIMARY KEY (key);


--
-- Name: failed_jobs failed_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_uuid_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_uuid_unique UNIQUE (uuid);


--
-- Name: global_categories global_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.global_categories
    ADD CONSTRAINT global_categories_pkey PRIMARY KEY (id);


--
-- Name: global_categories global_categories_slug_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.global_categories
    ADD CONSTRAINT global_categories_slug_unique UNIQUE (slug);


--
-- Name: global_services global_services_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.global_services
    ADD CONSTRAINT global_services_pkey PRIMARY KEY (id);


--
-- Name: job_batches job_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.job_batches
    ADD CONSTRAINT job_batches_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: locations locations_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_pkey PRIMARY KEY (id);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (email);


--
-- Name: personal_access_tokens personal_access_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_pkey PRIMARY KEY (id);


--
-- Name: personal_access_tokens personal_access_tokens_token_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_token_unique UNIQUE (token);


--
-- Name: project_categories project_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.project_categories
    ADD CONSTRAINT project_categories_pkey PRIMARY KEY (id);


--
-- Name: project_categories project_categories_project_id_global_category_id_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.project_categories
    ADD CONSTRAINT project_categories_project_id_global_category_id_unique UNIQUE (project_id, global_category_id);


--
-- Name: project_services project_services_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.project_services
    ADD CONSTRAINT project_services_pkey PRIMARY KEY (id);


--
-- Name: project_services project_services_project_id_global_service_id_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.project_services
    ADD CONSTRAINT project_services_project_id_global_service_id_unique UNIQUE (project_id, global_service_id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: projects projects_slug_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_slug_unique UNIQUE (slug);


--
-- Name: promo_codes promo_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.promo_codes
    ADD CONSTRAINT promo_codes_pkey PRIMARY KEY (id);


--
-- Name: promo_codes promo_codes_project_id_code_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.promo_codes
    ADD CONSTRAINT promo_codes_project_id_code_unique UNIQUE (project_id, code);


--
-- Name: service_categories service_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.service_categories
    ADD CONSTRAINT service_categories_pkey PRIMARY KEY (id);


--
-- Name: services services_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: tenants tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_pkey PRIMARY KEY (id);


--
-- Name: time_slots time_slots_location_id_day_of_week_start_time_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.time_slots
    ADD CONSTRAINT time_slots_location_id_day_of_week_start_time_unique UNIQUE (location_id, day_of_week, start_time);


--
-- Name: time_slots time_slots_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.time_slots
    ADD CONSTRAINT time_slots_pkey PRIMARY KEY (id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: webhook_endpoints webhook_endpoints_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.webhook_endpoints
    ADD CONSTRAINT webhook_endpoints_pkey PRIMARY KEY (id);


--
-- Name: webhook_logs webhook_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.webhook_logs
    ADD CONSTRAINT webhook_logs_pkey PRIMARY KEY (id);


--
-- Name: bookings_project_id_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX bookings_project_id_index ON public.bookings USING btree (project_id);


--
-- Name: bookings_status_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX bookings_status_index ON public.bookings USING btree (status);


--
-- Name: bookings_tenant_id_scheduled_date_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX bookings_tenant_id_scheduled_date_index ON public.bookings USING btree (tenant_id, scheduled_date);


--
-- Name: cache_expiration_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX cache_expiration_index ON public.cache USING btree (expiration);


--
-- Name: cache_locks_expiration_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX cache_locks_expiration_index ON public.cache_locks USING btree (expiration);


--
-- Name: global_services_global_category_id_sort_order_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX global_services_global_category_id_sort_order_index ON public.global_services USING btree (global_category_id, sort_order);


--
-- Name: jobs_queue_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX jobs_queue_index ON public.jobs USING btree (queue);


--
-- Name: locations_project_id_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX locations_project_id_index ON public.locations USING btree (project_id);


--
-- Name: personal_access_tokens_expires_at_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX personal_access_tokens_expires_at_index ON public.personal_access_tokens USING btree (expires_at);


--
-- Name: personal_access_tokens_tokenable_type_tokenable_id_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX personal_access_tokens_tokenable_type_tokenable_id_index ON public.personal_access_tokens USING btree (tokenable_type, tokenable_id);


--
-- Name: projects_tenant_id_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX projects_tenant_id_index ON public.projects USING btree (tenant_id);


--
-- Name: promo_codes_project_id_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX promo_codes_project_id_index ON public.promo_codes USING btree (project_id);


--
-- Name: service_categories_project_id_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX service_categories_project_id_index ON public.service_categories USING btree (project_id);


--
-- Name: services_project_id_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX services_project_id_index ON public.services USING btree (project_id);


--
-- Name: sessions_last_activity_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX sessions_last_activity_index ON public.sessions USING btree (last_activity);


--
-- Name: sessions_user_id_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX sessions_user_id_index ON public.sessions USING btree (user_id);


--
-- Name: webhook_endpoints_project_id_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX webhook_endpoints_project_id_index ON public.webhook_endpoints USING btree (project_id);


--
-- Name: webhook_logs_webhook_endpoint_id_created_at_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX webhook_logs_webhook_endpoint_id_created_at_index ON public.webhook_logs USING btree (webhook_endpoint_id, created_at);


--
-- Name: blocked_dates blocked_dates_location_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.blocked_dates
    ADD CONSTRAINT blocked_dates_location_id_foreign FOREIGN KEY (location_id) REFERENCES public.locations(id) ON DELETE CASCADE;


--
-- Name: booking_items booking_items_booking_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.booking_items
    ADD CONSTRAINT booking_items_booking_id_foreign FOREIGN KEY (booking_id) REFERENCES public.bookings(id) ON DELETE CASCADE;


--
-- Name: booking_items booking_items_service_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.booking_items
    ADD CONSTRAINT booking_items_service_id_foreign FOREIGN KEY (service_id) REFERENCES public.services(id) ON DELETE SET NULL;


--
-- Name: bookings bookings_location_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_location_id_foreign FOREIGN KEY (location_id) REFERENCES public.locations(id) ON DELETE SET NULL;


--
-- Name: bookings bookings_project_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_project_id_foreign FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: bookings bookings_promo_code_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_promo_code_id_foreign FOREIGN KEY (promo_code_id) REFERENCES public.promo_codes(id) ON DELETE SET NULL;


--
-- Name: bookings bookings_tenant_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_tenant_id_foreign FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: global_services global_services_global_category_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.global_services
    ADD CONSTRAINT global_services_global_category_id_foreign FOREIGN KEY (global_category_id) REFERENCES public.global_categories(id) ON DELETE CASCADE;


--
-- Name: locations locations_project_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_project_id_foreign FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: locations locations_tenant_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_tenant_id_foreign FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: project_categories project_categories_global_category_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.project_categories
    ADD CONSTRAINT project_categories_global_category_id_foreign FOREIGN KEY (global_category_id) REFERENCES public.global_categories(id) ON DELETE CASCADE;


--
-- Name: project_categories project_categories_project_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.project_categories
    ADD CONSTRAINT project_categories_project_id_foreign FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: project_services project_services_global_service_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.project_services
    ADD CONSTRAINT project_services_global_service_id_foreign FOREIGN KEY (global_service_id) REFERENCES public.global_services(id) ON DELETE CASCADE;


--
-- Name: project_services project_services_project_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.project_services
    ADD CONSTRAINT project_services_project_id_foreign FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: projects projects_tenant_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_tenant_id_foreign FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: promo_codes promo_codes_project_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.promo_codes
    ADD CONSTRAINT promo_codes_project_id_foreign FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: promo_codes promo_codes_tenant_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.promo_codes
    ADD CONSTRAINT promo_codes_tenant_id_foreign FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: service_categories service_categories_project_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.service_categories
    ADD CONSTRAINT service_categories_project_id_foreign FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: service_categories service_categories_tenant_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.service_categories
    ADD CONSTRAINT service_categories_tenant_id_foreign FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: services services_category_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_category_id_foreign FOREIGN KEY (category_id) REFERENCES public.service_categories(id) ON DELETE SET NULL;


--
-- Name: services services_project_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_project_id_foreign FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: services services_tenant_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_tenant_id_foreign FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: time_slots time_slots_location_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.time_slots
    ADD CONSTRAINT time_slots_location_id_foreign FOREIGN KEY (location_id) REFERENCES public.locations(id) ON DELETE CASCADE;


--
-- Name: users users_tenant_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_tenant_id_foreign FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: webhook_endpoints webhook_endpoints_project_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.webhook_endpoints
    ADD CONSTRAINT webhook_endpoints_project_id_foreign FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: webhook_endpoints webhook_endpoints_tenant_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.webhook_endpoints
    ADD CONSTRAINT webhook_endpoints_tenant_id_foreign FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: webhook_logs webhook_logs_booking_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.webhook_logs
    ADD CONSTRAINT webhook_logs_booking_id_foreign FOREIGN KEY (booking_id) REFERENCES public.bookings(id) ON DELETE SET NULL;


--
-- Name: webhook_logs webhook_logs_webhook_endpoint_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.webhook_logs
    ADD CONSTRAINT webhook_logs_webhook_endpoint_id_foreign FOREIGN KEY (webhook_endpoint_id) REFERENCES public.webhook_endpoints(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict oq69AsU63tWQoxlITXKfpKXW72caJPeRie2Gr3s0s5BFrGBXjwBP6gbdp6oMMty

